<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>List of Powers</title>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

    <!-- Estilos personalizados -->
    <link rel="stylesheet" href="/assets/css/style.css">
</head>

<body>
    <!-- Sidebar -->
    <!-- Incluir sidebar -->
    <div id="sidebar"></div>

    <!-- Contenido principal -->
    <div class="content">
        <div id="perfil"></div>
        <h1 class="title">Home</h1>
        <div class="container mt-5">
            <h2 class="mb-4">List of Powers</h2>
            <!-- Botón add race -->
            <button class="btn btn-success mb-3" data-bs-toggle="modal" data-bs-target="#createPowersModal">
                <i class="fas fa-user-plus"></i> Add Powers
            </button>
            <div class="table-responsive">
                <table class="table table-bordered table-striped table-hover align-middle text-center">
                    <thead class="table-dark">
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Percentage</th>
                            <th>Acciones </th>
                        </tr>
                    </thead>
                    <tbody id="PowersTableBody">
                        <!-- Contenido generado dinámicamente -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- Modal para editar el usuario-->
    <div class="modal fade" id="editPowersModal" tabindex="-1" aria-labelledby="editPowersModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content align-items">
                <form id="editPowersForm">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editPowersModalLabel">Edit Powers</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                    </div>
                    <div class="modal-body row-3">
                        <input type="hidden" id="editPowersId">
                        <div class="col-md-6 mb-3">
                            <label class="form-label">Name</label>
                            <input type="text" class="form-control" id="editPowersName" required>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label class="form-label">Description</label>
                            <input type="text" class="form-control" id="editPowersDescription" required>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label class="form-label">Percentage</label>
                            <input type="number" class="form-control" id="editPowersPercentage" required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success">Save Changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!--Modal para crear el warrior-->
    <div class="modal fade" id="createPowersModal" tabindex="-1" aria-labelledby="createPowersModalLabel">
        <div class="modal-dialog">
            <div class="modal-content">
                <form id="createPowersForm">
                    <div class="modal-header">
                        <h5 class="modal-title" id="createPowersModalLabel">Create Powers</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="createName" class="form-label">Name</label>
                            <input type="text" class="form-control" id="createName" required>
                        </div>
                        <div class="mb-3">
                            <label for="createDescription" class="form-label">Description</label>
                            <input type="text" class="form-control" id="createDescription" required>
                        </div>
                        <div class="mb-3">
                            <label for="createPercentage" class="form-label">Percentage</label>
                            <input type="text" class="form-control" id="createPercentage" required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Create Powers</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!--Modal para ver detalles-->
    <div class="modal fade" id="viewPowersModal" tabindex="-1" aria-labelledby="viewPowersModalLabel"  aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="viewPowersModalLabel">Details of Power</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                </div>
                <div class="modal-body">
                    <p><strong style="color: rgb(106, 188, 24);">ID:</strong> <span id="viewPowerId"></span></p>
                    <p><strong style="color: rgb(106, 188, 24);">Name:</strong> <span id="viewPowerName"></span></p>
                    <p><strong style="color: rgb(106, 188, 24);">Description:</strong> <span id="viewPowerDescription"></span></p>
                    <p><strong style="color: rgb(106, 188, 24);">Percentage:</strong> <span id="viewPowerPercentage"></span></p>
                </div>
            </div>
        </div>
    </div>

    <!-- Scripts -->
    <script src="/assets/js/loadSidebar.js"></script>
    <script src="/assets/js/loadperfil.js"></script>
    <script src="/assets/js/Tables/PowersTable.js"></script>
    <script src="/assets/js/CerrarSesion.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>