<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>List of Role</title>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

    <!-- Estilos personalizados -->
    <link rel="stylesheet" href="/mi-juego/app/assets/css/style.css">
</head>

<body>
    <!-- Sidebar -->
    <!-- Incluir sidebar -->
    <div id="sidebar"></div>

    <!-- Contenido principal -->
    <div class="content">
        <div id="perfil"></div>
        <h1 class="title">Home</h1>
        <div class="container mt-5">
            <h2 class="mb-4">List of Roles</h2>
            <!-- Botón add Role -->
            <button class="btn btn-success mb-3" data-bs-toggle="modal" data-bs-target="#createRolesModal">
                <i class="fas fa-user-plus"></i> Add Role
            </button>
            <div class="table-responsive">
                <table class="table table-bordered table-striped table-hover align-middle text-center">
                    <thead class="table-dark">
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Acciones </th>
                        </tr>
                    </thead>
                    <tbody id="RolesTableBody">
                        <!-- Contenido generado dinámicamente -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- Modal para editar el usuario-->
    <div class="modal fade" id="editRolesModal" tabindex="-1" aria-labelledby="editRolesModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content align-items">
                <form id="editRolesForm">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editRolesModalLabel">Edit Roles</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                    </div>
                    <div class="modal-body row-3">
                        <input type="hidden" id="editRolesId">
                        <div class="col-md-6 mb-3">
                            <label class="form-label">Name</label>
                            <input type="text" class="form-control" id="editRolesName" required>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label class="form-label">Description</label>
                            <input type="text" class="form-control" id="editRolesDescription" required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success">Save Changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!--Modal para crear el warrior-->
    <div class="modal fade" id="createRolesModal" tabindex="-1" aria-labelledby="createRolesModalLabel">
        <div class="modal-dialog">
            <div class="modal-content">
                <form id="createRolesForm">
                    <div class="modal-header">
                        <h5 class="modal-title" id="createRolesModalLabel">Create Roles</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="createName" class="form-label">Name</label>
                            <input type="text" class="form-control" id="createName" required>
                        </div>
                        <div class="mb-3">
                            <label for="createDescription" class="form-label">Description</label>
                            <input type="text" class="form-control" id="createDescription" required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Create Roles</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!--Modal para ver detalles-->
    <div class="modal fade" id="viewRoleModal" tabindex="-1" aria-labelledby="viewRoleModalLabel"  aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content modal-lg">
                <div class="modal-header">
                    <h5 class="modal-title" id="viewRoleModalLabel">Details of Role</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                </div>
                <div class="modal-body">
                    <p><strong style="color: rgb(106, 188, 24);">ID:</strong> <span id="viewRoleId"></span></p>
                    <p><strong style="color: rgb(106, 188, 24);">Name:</strong> <span id="viewRoleName"></span></p>
                    <p><strong style="color: rgb(106, 188, 24);">Description:</strong> <span id="viewRoleDescription"></span></p>
                </div>
            </div>
        </div>
    </div>


    <!-- Scripts -->
    <script src="/mi-juego/app/assets/js/loadSidebar.js"></script>
    <script src="/mi-juego/app/assets/js/loadperfil.js"></script>
    <script src="/mi-juego/app/assets/js/Tables/RolesTable.js"></script>
    <script src="/mi-juego/app/assets/js/CerrarSesion.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>