<!-- sidebar.html -->
<div class="sidebar">
  <h4 class="text-center"><i class="fa-solid fa-house"></i> Menú</h4>
  <a href="/views/WarriorTable.html"><i class="fa-solid fa-gamepad"></i> Warriors</a>
  <a href="/views/WarriorPowerTable.html"><i class="fas fa-file-alt"></i> Warrior-Power</a>
  <a href="/views/WarriorSpellsTable.html"><i class="fa-solid fa-book-skull"></i> warrior-spells</a>
  <a href="/views/WarriorTypeTable.html"><i class="fa-solid fa-key"></i> Warrior-Type</a>
  <a href="/views/UserTable.html"><i class="fa-solid fa-chart-simple"></i> Users</a>
  <a href="/views/SpellsTable.html"><i class="fa-solid fa-wand-magic"></i> Spells</a>
  <a href="/views/RaceTable.html"><i class="fa-solid fa-circle-user"></i> Race</a>
  <a href="/views/PowerTable.html"><i class="fa-brands fa-superpowers"></i> Power</a>
  <a href="/views/PartidasTable.html"><i class="fa-solid fa-key"></i> Matches</a>
  <a href="/views/BattleTable.html"><i class="fa-solid fa-hand-fist"></i> Battle</a>
  <a href="/views/RolesTable.html"><i class="fa-solid fa-person"></i> Role</a>
  <a href="/views/modulesTable.html"><i class="fa-solid fa-layer-group"></i> Modules</a>
  <a href="/views/PermissionsTable.html"><i class="fa-solid fa-layer-group"></i> Permissions</a>
  <a href="/views/userRoleTable.html"><i class="fa-solid fa-users"></i> User Roles</a>
  <a href="/views/RMPTable.html"><i class="fa-solid fa-layer-group"></i> Role Modules Permission</a>
</div>