<!-- sidebar.html -->
<div class="sidebar">
  <h4 class="text-center"><i class="fa-solid fa-house"></i> Menú</h4>
  <a href="/mi-juego/app/public/views/WarriorTable.html"><i class="fa-solid fa-users"></i> Warriors</a>
  <a href="/mi-juego/app/public/views/WarriorPowerTable.html"><i class="fas fa-file-alt"></i> Warrior-Power</a>
  <a href="/mi-juego/app/public/views/WarriorSpellsTable.html"><i class="fa-solid fa-book-skull"></i> warrior-spells</a>
  <a href="/mi-juego/app/public/views/WarriorTypeTable.html"><i class="fa-solid fa-key"></i> Warrior-Type</a>
  <a href="/mi-juego/app/public/views/UserTable.html"><i class="fa-solid fa-chart-simple"></i> Users</a>
  <a href="/mi-juego/app/public/views/SpellsTable.html"><i class="fa-solid fa-wand-magic"></i> Spells</a>
  <a href="/mi-juego/app/public/views/RaceTable.html"><i class="fas fa-file-alt"></i> Race</a>
  <a href="/mi-juego/app/public/views/PowerTable.html"><i class="fa-brands fa-superpowers"></i> Power</a>
  <a href="/mi-juego/app/public/views/PartidasTable.html"><i class="fa-solid fa-key"></i> Partidas</a>
  <a href="/mi-juego/app/public/views/BattleTable.html"><i class="fa-solid fa-hand-fist"></i> Battle</a>
</div>
