<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Historial de Batallas</title>
    <link rel="stylesheet" href="../assets/css/style.css">
    <script defer src="../assets/js/historial.js"></script>
</head>
<body>
    <div id="navbar"></div><br>
    <h1>Historial de Batallas</h1>
    
    <button id="sort-round">Ordenar por Ronda</button>
    <button id="sort-winner">Ordenar por Ganador</button>

    <table id="battle-history">
        <thead>
            <tr>
                <th>Ronda</th>
                <th>Guerrero 1</th>
                <th>Guerrero 2</th>
                <th>Ganador</th>
                <th>Jugador Ganador</th>
            </tr>
        </thead>
        <tbody>
            <!-- Se llenará con los datos de la API -->
        </tbody>
    </table>
</body>
</html>
